.mduiEditor-toolbar {
  display: flex;
  align-items: center;
  padding: 14px 20px;

  &:after {
    display: table;
    clear: both;
    content: '';
  }
}

.mduiEditor-toolbar-menu {
  padding: 0;
  width: 28px;
  min-width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px transparent;
  opacity: 0.6;
  color: #212121;

  i {
    font-size: 21px;
  }

  &:hover {
    opacity: 1;
    background-color: transparent;
  }

  &+.mduiEditor-toolbar-menu {
    margin-left: 2px;
  }
}

.mduiEditor-toolbar-menu-active {
  background-color: rgba(0, 0, 0, .12) !important;
  opacity: 1;
}

.mduiEditor-toolbar-divider {
  width: 1px;
  width: 0.8px;
  background-color: #e5e5e5;
  margin: 0 6px;
  height: 28px;
  display: inline-block;
  float: left;
}

.mduiEditor-content {
  padding: 16px 20px;
  height: calc(~'100% - 58px');
  overflow-y: auto;
  outline: none;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.87);
  white-space: pre-wrap;
  word-wrap: break-word;

  h2 {
    margin: 20px 0;
    font-size: 22px;
    line-height: 32px;
  }

  p {
    margin: 0 0 12px 0;
  }

  ol,
  ul {
    padding-left: 20px;
    margin: 20px 0;
  }

  blockquote {
    margin: 20px 0;
    padding-left: 1.2em;
    border-left: 4px solid #e2e3e4;

    &+blockquote {
      margin-top: -20px;
    }
  }

  pre {
    border-radius: 4px;
    margin: 1em 0;
    padding: 10px 12px;
    overflow: auto;
    font-size: 14px;
    word-wrap: normal;
    background: #f6f6f6;
    border: none;
  }

  hr {
    width: 240px;
    max-width: 100%;
    height: 0;
    margin: 56px auto;
    border: none;
    border-top: 1px solid #d3d3d3;
  }

  figure {
    text-align: center;
    margin: 24px 0;
    padding: 12px 0 8px 0;

    figcaption {
      font-size: 14px;
      color: #999;
      margin-top: 8px;
    }

    figcaption:empty:before {
      content: attr(placeholder);
      z-index: -1;
      color: #bfbfbf;
      cursor: text;
    }
  }
}

.mduiEditor-content-empty {
  &:before {
    content: attr(placeholder);
    color: rgba(0, 0, 0, .42);
    position: absolute;
    cursor: text;
  }
}
